.products-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; /* Evita desbordamiento */
    padding: 20px 0;
}
.products-wrapper:hover {
    cursor: grabbing;
    animation-play-state: paused;
}


.products {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 20px;
    scroll-behavior: auto;
    animation: scroll-carrusel 30s linear infinite;
    width: max-content;
    animation-play-state: running;
}
.products-wrapper:hover .products {
    animation-play-state: paused;
}
/* Animación de desplazamiento horizontal */
@keyframes scroll-carrusel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.product {
    flex: 0 0 auto;
    width: 250px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    position: relative;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product__image,
.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product__title,
.product h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: #000;
}

.product p {
    font-size: 14px;
    color: #555;
    margin: 0 0 1.5em 0;
}

.product__price {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 70px;
    height: 70px;
    background-color: #111;
    color: #fff;
    font-size: 0.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product button,
.product__btn {
    background: #111;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.product button:hover,
.product__btn:hover {
    background-color: #cf092c;
}