<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urban Pixel</title>
    <link rel="stylesheet" href="../../../../public/assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- TIPOGRAFIA -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <main class="login-page">
      <section class="login-visual">
      </section>

      <!-- Formulario -->
      <section class="login-form">
        <header>
          <h1>Bienvenido</h1>
          <h2>Inicie sesion para continuar</h2>
        </header>

        <form class="data-form">
          <label for="email">Ingresa tu correo</label>
          <input type="email" id="email" name="email" />

          <label for="password">Ingresa tu contraseña</label>
          <input type="password" id="password" name="password" />
          <a href="#">Olvidé mi contraseña</a>
          <button class="btn btn--big" type="submit">login</button>
        </form>
      </section>
    </main>
  </body>
</html>
